<div class="filters">
  <form>
    <title>Filtres</title>

    <div class="mb-3 col-6">
      <label for="price" class="form-label">Prix Maximum:</label>
      <input class="btn btn-outline-info" type="number" name="price" min="0" [(ngModel)]="wineData.price" (keydown.enter)="filterPrice()" />
    </div>

    <div class="mb-3 col-6">
      <select class="btn btn-outline-info dropdown-toggle" name="year" [(ngModel)]="wineData.year" (ngModelChange)="filterYear()">
        <option>Année de Fabrication avant</option>
        <option *ngFor="let year of yearMade">{{ year }}</option>
      </select>
    </div>

    <div class="mb-3 col-6">
      <select
        class="btn btn-outline-info dropdown-toggle"
        name="recommandation"
        [(ngModel)]="wineData.recommandation"
        (ngModelChange)="filterRecommandation()"
      >
        <option>Recommandations</option>
        <option *ngFor="let r of recommandations">{{ r }}</option>
      </select>
    </div>

    <div class="mb-3 col-6">
      <label for="region" class="form-label">Region :</label>
      <select class="btn btn-outline-info dropdown-toggle" name="region" [(ngModel)]="wineData.region" (ngModelChange)="filterRegion()">
        <option>Region</option>
        <option *ngFor="let region of valuesRegion()">{{ region }}</option>
      </select>
    </div>

    <button type="reset" class="btn btn-info" (click)="reset()">Vider Filtres</button>
  </form>
</div>
