<div class="col-12 row justify-content-center" *ngIf="product">
  <div class="col-12">
    <!--Bouton retour-->
    <div class="col-3">
      <button type="submit" (click)="previousState()" class="btn btn-outline-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <br />
    </div>
  </div>
  <!--Fiche Produit-->
  <div class="col-10 row">
    <div class="col-6">
      <img src="" class="img-fluid" alt="JPG" />
    </div>
    <div class="col-6 rounded" style="background-color: #943e3e45">
      <h4>{{ product.name }}</h4>
      <p>
        <span class="mr-1"
          ><strong>{{ product.price }} € - {{ product.stock }} restant(s)</strong></span
        >
      </p>
      <p>{{ product.description }}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="" scope="row"><strong>Type</strong></th>
              <td>{{ product.type }}</td>
            </tr>
            <tr>
              <th class="" scope="row"><strong>Region</strong></th>
              <td>{{ product.region }}</td>
            </tr>
            <tr>
              <th class="" scope="row"><strong>Accompagne bien</strong></th>
              <td>{{ product.recommandation }}</td>
            </tr>
            <tr>
              <th class="" scope="row"><strong>Temps de Garde</strong></th>
              <td>{{ product.ageLimit }} ans</td>
            </tr>
            <tr>
              <th class="" scope="row"><strong>Teneur en alcool</strong></th>
              <td>{{ product.alcoholPer }} %</td>
            </tr>
          </tbody>
        </table>
        <!--Validation Commande-->
        <div class="row col-12">
          <div class="col-8">
            <button class="btn btn-outline-success" (click)="addToCart(product)">Ajouter au panier</button>
            <input class="quantity" min="0" max="{{ product.stock }}" name="quantity" [value]="cmd" type="number" />
          </div>
          <div class="col-4">
            <button class="btn btn-" (click)="removeFromCart(product)">Retirer du Panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2" id="Encart panier" *ngFor="let produit of panierLocal">
    <!--TODO: Ajouter encart panier actuel-->
    <p class="col-12">{{ produit.name }}</p>
    <p class="col-12">{{ produit.number }}</p>
  </div>
</div>
