<div class="container col-12">
  <!--Alertes-->
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span>Pas de Produits trouvés</span>
  </div>
  <div class="alert alert-success" *ngIf="productAdded">
    <span><strong>Le produit a bien été ajouté au panier</strong> </span>
  </div>

  <!--contenu page-->
  <div class="row align-items-start">
    <!--filtre-->
    <div class="col-2">
      <div id="ajoutProduit" class="col-12" style="margin-bottom: 5%">
        <button class="btn-outline-dark col-12" *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/product/new']">
          <span>Nouveau Produit</span>
        </button>
      </div>
      <jhi-product-filters
        [products]="baseProducts"
        (newFilters)="setFilter($event)"
        (sortBy)="setProductsSorted($event)"
      ></jhi-product-filters>
    </div>
    <!--View User-->
    <div class="col-10 row">
      <!--mini fiche produit-->
      <div class="row" id="entities" *ngIf="products && products.length > 0">
        <div class="card col-6 flex-md-row mb-4 box-shadow h-md-250" *ngFor="let product of products; trackBy: trackId">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{ product.type }}</strong>
            <h3 class="mb-0 text-dark">{{ product.name }} - {{ product.year }}</h3>
            <h4 class="mb-1 text-info">{{ product.price }} €</h4>
            <p class="card-text mb-1 text-muted">Avec quoi le boire :</p>
            <p class="card-text mb-auto">{{ product.recommandation }}</p>
            <!--boutons petite fiche-->
            <div class="product-list-interact">
              <button
                type="submit"
                [routerLink]="['/product', product.id, 'view']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Voir Détail</span>
              </button>
              <button type="submit" (click)="addToCart(product)" class="btn btn-outline-success btn-sm" data-cy="entityBasketButton">
                <fa-icon icon="plus"></fa-icon>
                <span class="d-none d-md-inline">Acheter</span>
              </button>
              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/product', product.id, 'edit']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <span class="d-none d-md-inline">Modifier</span>
              </button>
            </div>
          </div>
          <img
            class="card-img-right flex-auto d-none d-md-block"
            data-src="holder.js/200x250?theme=thumb"
            alt="Thumbnail"
            style="width: 200px; height: 250px"
            data-holder-rendered="true"
            [src]="'data:' + product.imageContentType + ';base64,' + product.image"
          />
        </div>
      </div>
      <!--changement de page-->
      <div class="col-12" *ngIf="products && products.length > 0">
        <div class="row justify-content-center">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
