.product {
  margin: 5px;
  padding: 5px;
}

.btn {
  background-color: #ddd;
}

.table-responsive {
  margin-left: 27%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 21% 21% 21%;
  grid-gap: 3%;
}

.product-box {
  background-color: #e6d5d5;
  border-color: #831717;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

/* The sidebar menu */
.product-sidenav {
  margin-top: 7%;
  margin-left: 3%;
  height: 92%; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.product-sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.logo {
  position: relative;
  min-height: 5em;
  min-width: 6em;
  max-width: 6em;
  bottom: 1px;
  right: 2px;
  color: black;
}

#productName {
  float: right;
  bottom: 1px;
}

#productYear {
  font-size: smaller;
  text-align: center;
}

.logo-img {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../content/images/wine-logo.jpg') no-repeat center center;
  background-size: contain;
}

img {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}
