<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span>Panier</span></h2>
      <h4>Cout Total : {{ order.totalPrice }} euros</h4>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div>
        <jhi-order-line [orderId]="order.id"></jhi-order-line>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" class="btn btn-success"><fa-icon icon="check"></fa-icon><span>Acheter</span></button>

      <button type="button" class="btn btn-danger"><fa-icon icon="cross"></fa-icon><span>Supprimer</span></button>
    </div>
  </div>
</div>
