<div class="col-12 col-offset-1">
  <h2>Produits Sélectionnés :</h2>
  <div class="col-10">
    <div class="col-12"></div>
    <table class="table table-striped">
      <th>Nom du produit</th>
      <td>Quantité</td>
      <td>Prix unitaire</td>
      <td>Prix Total</td>
      <td>Actions</td>
      <tr *ngFor="let orderLine of orderLines">
        <th scope="row">{{ orderLine.product?.name }}</th>
        <td>{{ orderLine.quantity }}</td>
        <td>{{ orderLine.unityPrice }}</td>
        <td>{{ orderLine.totalPrice }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="addOne(orderLine.id)"><b>+</b></button>
            <button (click)="subOne(orderLine.id)"><b>-</b></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
